<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>749787170596-8hrtg5rae5agf4bpfqs97je117i1782b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.749787170596-8hrtg5rae5agf4bpfqs97je117i1782b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>749787170596-j73gdn4tdiq1ejabq8u8kaogf9obn2ci.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDk6ptKTvWnXTYlPysbIwvJuy1MJpByXmE</string>
	<key>GCM_SENDER_ID</key>
	<string>749787170596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.aleksandrilinskii.nutrisport.NutriSport</string>
	<key>PROJECT_ID</key>
	<string>nutrishop-467116</string>
	<key>STORAGE_BUCKET</key>
	<string>nutrishop-467116.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:749787170596:ios:66ea7da57b6bb90f0755b1</string>
</dict>
</plist>