<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GIDServerClientID</key>
	<string>749787170596-4g4hd0tnfriumkq42jkhhpee6c5mav2j.apps.googleusercontent.com</string>
	<key>GIDClientID</key>
	<string>749787170596-8hrtg5rae5agf4bpfqs97je117i1782b.apps.googleusercontent.com</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>com.googleusercontent.apps.749787170596-8hrtg5rae5agf4bpfqs97je117i1782b</string>
            </array>
        </dict>
    </array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
</dict>
</plist>
